@charset "UTF-8";

body{
    background: #eeeeec;
}

/*Title Bar*/
header{
    width: 100%;
    height: 34px;
    background: #00c274;
    /*background:    -webkit-linear-gradient(top, #00c274 0, #00d774 100%);*/
    -webkit-user-select: none;
    margin: -8px 0px 0px -8px;
    padding: 0px 16px 5px 0px;
}

header>#logo{
    width: 30px;
    height: 30px;
    float: left;
    margin: 4px 0px 0px 550px;
    background-image: url('../img/logoTop.png');
    background-repeat: no-repeat;
}


/*Window Controls*/
header>ul{
    float: right;
    text-align: right;
    line-height: 0;
}
header>ul>li,
header>ul>li>a{
    display: inline-block;
}
header>ul{
    float: right;
}
header>ul>li>a{
    width: 34px;
    height: 34px;
    -webkit-transition: -webkit-transform 200ms;
    -webkit-app-region: no-drag;
    text-decoration: none;
    background-repeat: no-repeat;
    margin: -13px -10px 0px 0px;
}
header>ul>li>a:hover,
header>ul>li>a:focus,
header>ul>li>a:active{
    color: color: #00874f;;
    outline: none;
    text-decoration: none;
}

a#menuOpen{
    float: left;
    width: 34px;
    height: 34px;
    margin: 2px 0px 0px 5px;
    background-image: url('../img/iconMenu.png');
    background-repeat: no-repeat;
}
a#windowControlClose{
    background-image: url('../img/iconClose.png');
}
a#windowControlMinimize{
    background-image: url('../img/iconMin.png');
}